.opiniones-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.opiniones-items .card a {
  flex-direction: row;
  align-items: center;
}

.opiniones-items .card-header {
  flex-shrink: 0;
  flex-basis: 90px;
  margin-right: 1rem;
}

.opiniones-items .card-date {
  margin-bottom: 0;
}

.opiniones-items .card-main {
  flex-grow: 1;
}

.opiniones-items .card-footer .material-icons {
  font-size: var(--font-size--menu);
  margin-left: 1rem;
}
