.article-content {
  background: var(--color-bar-1--hover);
  padding: 3rem;
  min-height: 100%;
}

.article-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

.article-data {
  display: flex;
  flex-direction: column;
}

.article-title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article-title h1 {
  font-family: var(--font-serif);
  color: var(--color-bar-2);
}

.article-date {
  font-size: var(--font-size--details);
}

.article-image {
  width: 100%;
}

.article-text a {
  color: var(--color-bar-3);
}
