.footer {
  /* background: paleturquoise; */
  padding: 0 0 0 3rem;
}

/* .social-list {
  border-top: black 1px solid;

  background: antiquewhite;
}

.social-icon {
  background: red;

} */

.email {
  /* display: inline-block; */
}
