.menu {
  padding: 3rem 3rem 3rem 6rem;
  display: flex;
  flex-direction: column;
  /* background: blue; */
  height: 100vh;
}

.nav {
  padding: 3rem 0 0 3rem;
  /* background: chocolate; */
  flex-grow: 1;
}

.nav a {
  color: black;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-family: var(--font-serif);
}

.nav a:hover {
  background: black;
  color: white;
}
