/* .hero {
  right: 0;
  margin-bottom: 3rem;
}

.date {
  text-decoration: underline;
  padding-bottom: 2rem;
}

.idea {
  padding-top: 5rem;
}

.opinions {
  padding-top: 5rem;
}

.source {
  padding: 0 0 2rem 0;
}

.source-summary p {
  margin-bottom: 0rem;
}

.source date {
  padding-bottom: 2rem;
}

.books {
  padding-top: 5rem;
  padding-right: 8rem;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.cober {
}

.cober h3 {
  padding: 2rem 0 0 0;
}

.courses {
  padding-top: 5rem;
  padding-right: 8rem;
}

.contenedor {
  display: flex;
  padding: 0;
}

.art-list {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: burlywood;
  width: 20rem;
  height: 11rem;
  padding: 0.5rem;
  flex-direction: column;
} */
